.arrow{
    background: url(../img/arrow-black.png);
    block-size: 15px;
    inline-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    padding-inline-start: 20px;
}
ul li:hover > a .arrow{
    background: url(../img/arrow-white.png);
    background-repeat: no-repeat;
    background-position: center;
}
.navbar-secundario > li:hover > a{
    background: #000;
    color: #FFF;
}