@import url(./arrow.css);
body{
    background: #2F80ED;
    font-family: inter;
}
.navbar{
    display: flex;
    justify-content: center;
}

.navbar-principal{
    padding: 0;
    list-style: none;
    display: flex;
    gap: 8px;
    flex-direction: column;
    inline-size: 100%;
}
.navbar-principal li a{
    display: flex;
    justify-content: center;
    background: #FFF;
    text-decoration: none;
    color: #000;
    padding: 12px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}
.navbar-principal li a:hover{
    background: #000;
    color: #FFF;
}
.navbar-principal li ul{
    display: none;
}
.navbar-principal li:hover .content > ul, .content li:hover > ul{
    display: flex;
}
.navbar-principal > li:hover > a{
    background: #000;
    color: #FFF;
}
.content{
    padding-block-start: 5px;
}
.navbar-secundario{
    padding: 0;
    border: 4px solid #000;
    list-style: none;
    flex-direction: column;
}
.navbar-secundario li a{
    justify-content: start;
}
.navbar-final{
    border: 4px solid #000;
    padding: 0;
    list-style: none;
    flex-direction: column;
}
@media screen and (min-width:650px){
    .navbar-principal{
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-block-start: 243px;
        justify-content: center;
        position: relative;
    }
    li{
        block-size: 44px;
    }
    .navbar-final{
        position: relative;
        inset-inline-start: 140px;
        inset-block-start: -30px;
    }
}